#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
 
}

.task-list-header{
  font-size: 18px;
  font-weight: bold;
  background-color: #0b8c8c;
width: 200px;
color: white;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
display: flex;
justify-content: space-around;
}
.task-list-actions{
height: 110px;
background-color:   rgb(200, 199, 196);
display: flex;
flex-direction: column;
justify-content: space-between;

}
.addtask-btn-div{
  font-size: 18px;
  font-weight: bold;

  width: 150px;
  position: relative;
  top: 10px;
  left: 5px;
  border-radius: 10px;
}


.addtask-btn-div button {
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  height: 100%;
 margin-bottom: 2px;
 margin-left: 5px;
 margin-right: 2px;
 background-color: #0b8c8c;
 border-radius: 10px;
 color: white;
 cursor: pointer;
}
.task-list-filters{
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: space-around;

}
.filter {
  background-color: #035c5c;
  border-radius: 10px;
  color: white;
  width: 200px;
  cursor: pointer;
}
.filter-active {
  border-radius: 10px;
  color: white;
  width: 200px;
  background-color: #11e7e7;
  cursor: pointer;
}